.list-cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 80%;
    min-height: 500px;
    flex-wrap: wrap;
}

.cart_empty{
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart_empty img{
    width: 500px;
    height: auto;
}

.list-cart .item-product {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.flex-price{
    display: flex;
    width: 10%;
    justify-content: space-around;
}

.list-cart .item-product img{
    width: 200px;
}

/* .quantity{
    display: flex;
    flex-direction: column;
} */

.list-cart .quantity .btn-count{
    /* border: 1px solid; */
    background: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    outline: none;
}

.count{
    margin: 0 5px;
}