@import "./vars.css";

.card-category{
    /* box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5); */
    -moz-box-shadow: -1px 9px 18px -5px rgba(17,17,17,1);
    box-shadow: -1px 9px 18px -5px rgba(17,17,17,1);  
    width: 310px;
    height: 310px;
    display: flex;
    color: var(--color-white);
    background: var(--color-1);
    justify-content: center;
    align-items: center; 
    margin: 5px;  
    font-size: 20px;
}

.card-category:hover{
    background: var(--color-gradient);
    animation: gradient 15s ease-in-out infinite;
    background-size: 400% 400%;
}

@keyframes gradient {
    0%,
    100% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }
}
