#dashboard-admin .btn-container {
  width: 190px;
}

#dashboard-admin .btn-container .btn {
  width: 180px;
}

#dashboard-admin a {
  width: 190px;
  height: 40px;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dashboard-admin hr{
  width: 100%;
  height: 2px;
  background: var(--color-black);
}

#dashboard-admin a .btn-container, #dashboard-admin a .btn-container .btn{
  cursor: pointer;
}

#dashboard-admin{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-create-product {
  width: 70%;
  display: flex;
  flex-direction: column;
    justify-content: space-around;
    height: 500px;
    align-items: center;
}

.manage-panel{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label-input-container, .tables {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table{
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  min-height: 800px;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.tables{
  flex-direction: column;
  width: 200px;
}

.table-image .cell img{
  width: 40px;
}

.table tbody{
  display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 800px;
border: 1px solid;
width: 100%;
}

.form-create-product{
  width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.label-input-container{
  justify-content: space-around;
  width: 30%;
}

.label-input-container .input{
  /* border: none;
  border-bottom: 2px solid var(--color-1) ; */
  width: 50%;
  font-size: 17px;
  height: 25px;
}
