.card-container{
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
}

.animated{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    flex-wrap: wrap;
}

.produit-naturels{
    border-top-left-radius: 200px;
}

.miels{
    border-top-right-radius: 200px;
}
.tisanes{
    border-bottom-left-radius: 200px;
}
.plante-locales{
    border-bottom-right-radius: 200px;
}

.huiles-vegetales{
    position: absolute;
    top: 300px;
    border-radius: 50%;
}