.product-displayer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .produits {
    max-width: 100%;
    min-height: 800px;
  }
  
  .produits .produits-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-height: 500px;
  }
  
  .produits-flex {
    display: flex;
    flex-direction: row;
  }
  
  .produits-flex figure {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .produits-flex hr {
    width: 100%;
    border: solid 1px;
  }
  
  /* .produits-flex figure ul li img{
      width: 300px;
      height: 300px;
      background-position: center;
      background-size: cover;
  } */
  
  .list.products {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    list-style: none;
    min-height: 300px;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }
  
  .product-card {
    color: inherit;
    position: relative;
    width: 300px;
    height: 500px;
    margin: 0 10px;
    /* box-shadow: 4px 4px 3px 2px rgba(136, 121, 104, 0.2); */
    box-shadow: 4px 4px 8px 1px rgb(0, 0, 0, .2);
    border-radius: 10px;
    background: var(--color-3);
    margin: 50px 10px;
  }
  
  .list.products .product.card .imgProduct {
    width: auto;
    border-top-left-radius: 10px;
    height: 300px;
    border-top-right-radius: 10px;
  }
  
  .product-card .baniere-sold {
    display: none;
  }
  
  .product-card:hover .baniere-sold {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 0px;
    height: 30px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background: var(--color-2);
    color: var(--color-white);
  }

.list-products-moment{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 500px;
    list-style: none;
}

.link-product-moment{
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.product-moment{
    width: 100%;
}

.product-moment img{
    max-width: 100%;
    height: 300px;
}

.product-infos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 500px;
}

.product-infos .flex-product-infos{
    width: 20%;
    min-height: 400px;
}

.product-infos .flex-product-infos .img-product-infos{
    width: 100%;
    min-height: 400px;
}

.product-infos .product-infos-card{
    width: 40%;
    min-height: 500px;
    border-radius: 5px;;
    box-shadow: 2px 3px 6px rgba(0,0,0,0.16);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}



.product-infos .link-btn-add-product{
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-infos .link-btn-add-product .btn-container .add-product{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
}

.product-infos .link-btn-add-product .btn-container{
    width: 130px;
    background: var(--color-2-transparent);
}

.product-infos .link-btn-add-product .btn-container .btn{
    background: var(--color-2);
}

.prix{
    font-size: 25px;
    color: var(--color-2);
    font-weight: 500;
    margin: 10px 20px 0 10px;
}

.prix span{
    font-size: 15px;
}

.product-propriete{
    width: 70%;
}


#product-quantity{
    width: 50px;
    height: 30px;
    outline: none;
}

.flex-quantity{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.add-product{
    border: none;
    background: var(--color-1);
    width: 200px;
    height: 50px;
    color: white;
    font-size: 15px;
    margin: 2%;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.39);
    border-radius: 3px;

}

.add-in-shop-cart{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.plus-cart{
    font-size: 30px;
    margin: 0 5px 0 0;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    background: black;
}

.plus-cart:hover{
    background: var(--color-hover-btn);
}

.figcaption-product{
    margin: 20px 0;
}

.favorite-icon:hover{
    color: var(--color-hover-btn);
}

.container-fav-price{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0;

}

@media screen and (max-width: 767px){
    .list.products, .list-products-moment{
        padding: inherit;
    }
}