.bg-signin{
  background-image: url("./../Assets/img/bg-leafs-4.jpg");
  background-size: cover;
  position: fixed;
  min-width: 100%;
  right: 0;
  bottom: 0;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

#signin-container{
  width: 70%;
  height: auto;
  /* background: var(--color-white); */
  /* margin: 5px; */
}



.form-signin{
  width: 100%;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--color-white);
}



.form-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 500px;
  padding: 50px 0;
}

div .separation-signin{
  background: var(--color-dark);
  width: 100%;
  height: 2px;
}

.input-radio{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.adress-form{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



.form-signin a{
  margin: 10px 0;
}

@media screen and (max-width: 1024px){
  #signin-container{
    width: 100%;
  }

  .form-signin{
    width: 100%;
  }
}

@media screen and (max-width: 649px){
  #signin-container{
    width: 100%;
  }
  .form-signin{
    width: 100%;
  }
}
